# Google Sheets Config
# 1. Create a Service Account in Google Cloud Console
# 2. Share your target Google Sheet with the Service Account email (Editor access)
# 3. Fill in the details below

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project-id.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# The LONG ID from your Google Sheet URL
# https://docs.google.com/spreadsheets/d/THIS_IS_THE_SHEET_ID/edit
SHEET_ID=your_sheet_id_here
